*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background: #f7f8fc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-form {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 300px;
  margin: auto;
  background: #fff;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.login-form .login-title {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
}

.text-error {
  color: red;
  display: inline-block;
  margin: 6px 0 !important;
}

.main-header {
  padding: 10px 20px;
}

.main-header svg {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  padding: 4px;
}

.box-flat {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background: #fff;
}

.sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  padding: 50px 0;
  background-color: #fff;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

svg {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  background-color: #fff;
}

.modal .modal-header {
  padding: 16px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-body {
  padding: 16px;
}

.modal .modal-body .subtitle {
  margin-bottom: 12px;
  line-height: 1.4;
}

.modal .modal-body .form-contaniner .form-row {
  margin-bottom: 16px;
}

.modal .modal-body .form-contaniner .form-row:last-of-type {
  margin-bottom: 0;
}

.modal .modal-body .form-contaniner .form-row button {
  margin-left: 16px;
}

.box-limits {
  padding: 16px 0 0 16px;
}

.box-limits > div {
  padding-bottom: 16px;
  display: flex;
}

.nav-menu {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  padding: 0 0 0 12px;
  justify-content: space-between;
}

.expenses-list-head > div {
  padding-left: 14px;
}

.expenses-list-body .expenses-list-row .expenses-list-item {
  padding: 2px 4px;
}

.expenses-list-body .expenses-list-row.disabled fieldset {
  border: none;
}

.expenses-list-body .expenses-list-row.disabled .select svg {
  display: none;
}

.table {
  margin: 15px 0;
}

.table .table-head .table-col {
  font-weight: bold;
}

.table .table-row .table-col {
  padding: 4px;
}
