@import 'core/reset.scss';

body {
    background: #f7f8fc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

b {
    font-weight: bold;
}

.subtitle {
    margin-bottom:25px;
    line-height: 1.4;
}

.login-form {
    position: absolute;
    top:20%;
    left:0;
    right:0;
    width: 300px;
    margin:auto;
    background:#fff;
    padding:40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.05);

    .login-title {
        font-size: 21px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom:25px
    }
}

.text-error {
    color: red;
    display: inline-block;
    margin:6px 0 !important;
}

.main-header {
    padding:10px 20px;

    .menu-icon {
        width:36px;
        height:36px;
    }
}

.box-flat {
    border-radius: 10px;
    padding: 20px;
    margin-bottom:20px;
    background: #fff;
}

.sidebar {
    position: fixed;
    z-index: 3;
    top:0;
    bottom:0;
    left:0;
    width:60%;
    padding:50px 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    a {
      display: block;
      color:#666;
      padding:15px 20px;
      text-transform: uppercase;
      text-decoration: none;
      width:100%;
      height:100%;
      
      svg {
        vertical-align: middle;
        margin-right: 8px;
      }

      span {
        vertical-align: middle;
      }
    }
}

.sidebar-overlay {
    z-index: 2;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(255,255,255, 0.6);
}

svg {
    cursor:pointer;
}


.modal {
    position:absolute;
    top: 20%;
    left:0;
    right:0;
    margin:auto;
    width: 320px;
    background-color: #fff;

    .modal-header {
        padding:16px;
        border-bottom: 1px solid #666;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-body {
        padding:16px;

        .subtitle {
            margin-bottom:12px;
            line-height: 1.4;;
        }

        .form-contaniner {

            .form-row {
                margin-bottom: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                button {
                    margin-left:16px;
                }
            }
        }
    }
}


.box-limits {
    padding: 16px 0 0 16px;
    & > div {
        padding-bottom:16px;
        display:flex;
    }
}


.nav-menu {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    padding:0 0 0 12px;
    justify-content: space-between;
}

.expenses-list-head {
    margin-bottom: 8px;;
    .expenses-list-item {
        font-weight: bold;
        line-height:32px;
    }
}

.expenses-list-body {
    .expenses-list-row {
        .expenses-list-item {
            padding:5px 0;
            line-height: 32px;
        }

        &.disabled {
            fieldset {
                border:none;
            }
            .select svg {
                display: none;
            }
        }
    }
}

.expenses-list-row {
   
    .expenses-form {
        display: none;
        margin:8px 0;
    }

    &.show-form {
        
        .expenses-data {
            display: none;
        }

        .expenses-form {
            display: block;
        }

    }
}

.table {
    margin:15px 0;
    .table-head {
        border-bottom: 1px solid #ccc;
        padding-bottom: 4px;

        .table-col {
            font-weight: bold;

            .table-col-sort-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                line-height: 18px;

                svg {
                    height:18px;
                }
            }
        }
    }

    .table-row {
        .table-col {
            padding:4px;
        }
    }

    .table-body {
        .table-row {
            .table-col {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding:6px 0;
                display: flex;
                vertical-align: center;
            }

            .actions {
                justify-content: end;

                svg {
                    height:21px;
                }
            }

            &:nth-child(odd){
                background-color: #fefefe;
            }
        }

    }
}


.chartWrapper {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}


.progress-bar {
    margin:6px 0;
}


.notification {
    width:300px;
    max-width:90%;
    margin:auto;
    position: fixed;
    z-index:1400;
    top:20px;
    left:0;
    right:0;

    p {
        padding:16px;
        margin-bottom:8px;
        
        &.success {
            background: rgb(193, 255, 198);
        }

        &.error {
            background: rgb(255, 193, 193);
        }

        &.info {
            background: rgb(193, 197, 255);
        }

    }
}